<div id="chatHeader">
    <a routerLink="/GroupsChat">Back</a>
    <h1>{{ this.ChatsService.CurrentChat!.name }}</h1>
    <!--img-->
</div>
<div id="chatBody" *ngIf="this.ChatsService.CurrentChat!.messages !== null" #content>
    <div *ngFor="let message of this.Messages" class="chatMessage" #messages>
        <p><b>{{ message.author.firstname }}</b></p>
        <p>{{ message.text }}</p>
    </div>
</div>
<div id="chatFooter">
    <textarea type="text" #messageText></textarea>
    <button (click)="SendMessage(messageText.value); messageText.value = ''">Send</button>
</div>