<a routerLink="/Sign-in">Back</a>

<br>

<h1>New account</h1>

<br>

<label for="firstname">Firstname</label>
<input type="text" name="Firstname" #newUserFirstname>
<br>
<br>
<label for="lastname">Lastname</label>
<input type="text" name="lastname" #newUserLastname>
<br>
<br>
<label for="login">Login</label>
<input type="text" name="login" #newUserLogin>
<br>
<br>
<label for="password">Password</label>
<input type="password" name="password" #newUserPassword>
<br>
<br>
<!--<label for="avatar">Avatar</label>
<input type="file" name="avatar" accept="image/png, image/jpeg" (change)="onFileSelected($event)">
<br>
<br>-->
<button type="button" (click)="SignUp(newUserFirstname.value, newUserLastname.value, newUserLogin.value, newUserPassword.value)">Ok</button>

<br>
<br>

<p *ngIf="this.ErrorMsg">{{ this.ErrorMsg }}</p>