<div>
    <h1>Your Chats</h1>

    <br>

    <div *ngIf="this.UsersService.LoggedUserData!.chats; else UserHasNoChats">
        <div *ngFor="let chat of this.UsersService.LoggedUserData!.chats">
            <button (click)="GetChatById(chat.chat_id)">{{ chat.name }}</button>
        </div>
    </div>
    <ng-template #UserHasNoChats>
        <p>You have no chats...</p>
    </ng-template>
</div>

<br>

<div id="newChat">
    <h1>Create new Chat</h1>

    <br>

    <button (click)="this.NewChatBtn = true">New</button>

    <div *ngIf="this.NewChatBtn" id="newChatForm">
        <label for="chatName">Name</label>
        <input type="text" id="chatName" #chatName>

        <br>

        <label for="chatLogo">Logo</label>
        <input type="file" id="chatLogo" #chatLogo>

        <br>

        <label for="chatMember">Member</label>
        <input type="text" id="chatMember" #chatMember>
        <br>
        <br>
        <button (click)="AddUserByLogin(chatMember.value); chatMember.value = ''">Add member</button>

        <br>
        <br>

        <button (click)="this.NewChat(chatName.value, chatLogo.value)">Create</button>

        <br>
        <br>

        <p *ngIf="this.SuccessMsg">{{ this.SuccessMsg }}</p>
        <p *ngIf="this.ErrorMsg">{{ this.ErrorMsg }}</p>
    </div>
</div>