<div id="Signin">
    <h1>Sign-in</h1>

    <br>

    <label for="userLogin">Login</label>
    <input type="text" name="userLogin" #userLogin>
    <br>
    <br>
    <label for="userPassword">Password</label>
    <input type="password" name="userPassword" #userPassword>
    <br>
    <br>
    <button type="button" (click)="SignIn(userLogin.value, userPassword.value)">Go</button>

    <br>
    <br>

    <p *ngIf="this.ErrorMsg">{{ this.ErrorMsg }}</p>
</div>

<br>

<div id="Signup">
    <h1>New account ?</h1>

    <br>

    <a routerLink="/Sign-up">Sign-up</a>
</div>